extends ../../layouts/base/base.pug
include ../../components/def/def.pug

append styles
  link(rel='stylesheet', href='index.scss')
block title
  title='Starter Kit'

append header
  //- +header()
append main